//TODO all variables

//colors
$white: #fff;
$grey: #777;
$lite-grey: #fcfcfc;
$black: #000;
$lite-black: #444;
$gold: #a38c4d;

//transitions
$transition-images: all .45s ease;
$transition-text: color .35s ease;

//fonts
$barlow-bold: 'Barlow-Bold', sans-serif;
$barlow-semiBold: 'Barlow-SemiBold', sans-serif;

$barlow-regular: 'Barlow-Regular', sans-serif;
$barlow-light: 'Barlow-Light', sans-serif;

$barlow-extraLight: 'Barlow-ExtraLight', sans-serif;
$barlow-italic: 'Barlow-Italic', sans-serif;
