@import "../../styles/variables.module";

.header_wrapper {
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;

    img {
      height: auto;
      width: 100%;
      max-width: 260px;

      user-select: none;
      pointer-events: none;
    }
  }

  .button_container {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      cursor: pointer;
      background: none;
      outline: none;
      box-shadow: none;
      border: none;
      text-decoration: none;

      text-transform: uppercase;
      font-family: $barlow-extraLight;
      font-weight: 300;
      font-size: 16px;
      line-height: 30px;
      padding: 10px 30px;
      color: $lite-black;
      transition: color .25s ease-out;

      &:hover {
        color: $gold;
      }
    }
  }
}