.header_wrapper {
  .logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0 15px 0;
    img {
      height: auto;
      width: 100%;
      max-width: 300px;

      user-select: none;
      pointer-events: none;
    }
  }

  .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    .button {
      background: none;
      outline: none;
      box-shadow: none;
      border: none;

      font-size: 18px;
      line-height: 30px;
      padding: 10px 30px;
      color: #444;
      transition: color .25s ease-out;

      &:hover {
        color: #a38c4d;
      }
    }
  }
}