.footer_wrapper {
  height: 80px;
  background-color: #fafafa;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease-out;

  .title {
    color: #444444;
    transition: color .25s ease-out;

    &:hover {
      color: #a38c4d;
    }
  }
}