@import "../../styles/variables.module";

.footer_wrapper {
  height: 80px;
  background-color: $lite-grey;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .25s ease-out;

  .title {
    text-transform: capitalize;
    cursor: pointer;

    font-family: $barlow-light;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    color: $lite-black;

    transition: color .25s ease-out;

    &:hover {
      color: $gold;
    }
  }
}